<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Online Dice Roller">
        <meta name="keywords" content="dungeons and dragons,dice,roller,dice roller,random number">
        <meta name="author" content="David Wainwright">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dice Roller by David Wainwright</title>
        <link rel="stylesheet" href="styles/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/main.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">

            <div class="logo">
                <!-- <img src="images/logo.png" /> -->
            </div>

            <div class="container-fluid roll-pit">
                <div class="row justify-content-center">
                    <div class="roll col-lg-3" v-for="roll in currentRolls">
                        <div class="small-dice">
                            <img v-bind:class="{ rolling: roll.rolling }" v-bind:src="'images/d' + roll.dice + '.png'" />
                        </div>
                        <h2 class="main-roll">
                            {{ roll.value }}
                        </h2>
                    </div>
                    <div class="col-lg-3 total" v-if="showTotal">
                        <h3>Total</h3>
                        <h2 class="main-roll">
                            {{ total }}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="die col-lg-2" v-for="dice in die" v-on:click="roll(dice)">
                        <h3>D{{ dice }}</h3>
                        <div class="dice-img">
                            <img v-bind:class="{ rolling: isRolling(dice) }" v-bind:src="'images/d' + dice + '.png'" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="help-icon">
                <img src="images/help.png"  v-on:click="toggleHelp()" />
            </div>

            <div class="help" v-if="isHelpDisplayed">
                <h3>
                    Dice Roller
                </h3>
                <p>
                    Welcome to Dice Roller by David Wainwright.<br />
                    Click on the dice to roll!<br />
                    Click multiple times for multiple rolls!<br />
                    To specify which dice you wish to use, click on the links:<br />
                </p>
                <ul>
                    <li><a href="?die=6">Six-sided dice</a></li>
                    <li><a href="?die=dd">RPG dice</a></li>
                </ul>
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>