#app {
    margin:10px 0;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

.main-roll {
    font-size:17em;
    text-align:center;
    float: left;
    width:100%;
    line-height:70%;
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bolder;
}

.total h2 {
    color: maroon;
}

.total h3 {
    text-align: center;
    height: 50px;
    margin: 0;
    font-weight:bolder;
}

.small-dice, .dice-img {
    float:left;
    width:100%;
}

.die img {
    width:150px;
    display:block;
    margin:auto;
}

.die h3 {
    text-align:center;
}

.roll img {
    width:50px;
    height:50px;
    display:block;
    margin:auto;
}

.roll-pit {
    height:auto;
    margin:10px 0;
}

img.rolling {
    animation-name: rotate; 
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.logo {
    width:100%;
}

.logo img {
    margin:auto;
    display:block;
    width:250px;
}

.help-icon {
    top:10px;
    left:10px;
    position:absolute;
}

.help-icon img {
    width: 30px;
}

.help {
    top:25px;
    left:25px;
    border:solid 2px #555;
    font-size: 1em;
    border-radius: 7px;
    padding: 10px;
    background-color: #fff;
    width: 40%;
    position:absolute;
}

@media (max-width: 768px) {
    .main-roll {
        font-size:10em;
    }

    .help {
        width: 100%;
        left:0;
        top:30px;
    }
}